@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box; /* nada sai do body */
    background-color: #000000;
}

main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 20%;
}
.box_info{
    font-family: "Montserrat", serif;
}
h1{
    font-family: "Krona One", serif;
    color: #ffffff;
}
.titulo_destaque{
    color: #22D4FD;
}

p{
    color: #ffffff;
}

.box_botoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0 0 0;
}
.botoes_info h2{
    font-size: 15px;
    font-weight: 400;
}
.botoes{
    display: flex;
    gap: 20px;
}
.botoes img{
    width: 17px;
}
.botoes a{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: transparent;
    border: 1px solid #22D4FD;
    width: 100px;
    padding: 15px 48px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.botoes a:hover{
    background-color: #272727;
}

footer p{
    background-color: #22D4FD;
    color: #000000;
}