@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box; /* nada sai do body */
    background-color: #000000;
    width: 100%vh;
}

main{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 20%;
}
.box_info{
    font-family: "Montserrat", serif;
}
h1{
    font-family: "Krona One", serif;
    color: #ffffff;
}
.titulo_destaque{
    color: #22D4FD;
}

p{
    color: #ffffff;
}

.botoes{
    margin: 50px 0 0 0;
    display: flex;
    gap: 30px;
}
a{
    background-color: #22D4FD;
    width: 100px;
    padding: 15px 48px;
    border-radius: 8px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.box_img{

}

img{

}